extends layout

block content
  doctype html
  html(lang="es")
    head
      meta(charset="UTF-8")
      title Encuesta
    body
      h1 Encuesta de Satisfacción
      form(action="/submit" method="post")
        h2 Pregunta de Opción Múltiple
        div
          label(for="opcion1") Opción 1
          input(type="radio" name="opcion" id="opcion1" value="opcion1")
        div
          label(for="opcion2") Opción 2
          input(type="radio" name="opcion" id="opcion2" value="opcion2")
        div
          label(for="opcion3") Opción 3
          input(type="radio" name="opcion" id="opcion3" value="opcion3")

        h2 Pregunta de Escala Likert
        div
          label(for="likert") Del 1 al 5, ¿qué tan satisfecho estás?
          input(type="range" name="likert" id="likert" min="1" max="5" step="1")

        h2 Pregunta de Texto Abierto
        div
          label(for="comentario") Déjanos tus comentarios
          textarea(name="comentario" id="comentario" rows="4" cols="50")

        button(type="submit") Enviar Encuesta
