include navbar.pug

block content
  // Contenido de la Encuesta

  h1 Encuesta de satisfacción del cliente

  form(action="/submit-survey" method="post" class="survey-form")

    h2 ¿Cuál es tu color favorito?
    label.radio-label
      input(type="radio" name="favorite_color" value="red" required)
      | Rojo
    br
    label.radio-label
      input(type="radio" name="favorite_color" value="blue" required)
      | Azul
    br
    label.radio-label
      input(type="radio" name="favorite_color" value="green" required)
      | Verde
    br
    label.radio-label
      input(type="radio" name="favorite_color" value="yellow" required)
      | Amarillo
    br

    h2 ¿Cuán satisfecho estás con nuestro servicio?
    table.likert-table
      tr
        th.likert-header Muy insatisfecho
        th.likert-header Insatisfecho
        th.likert-header Neutral
        th.likert-header Satisfecho
        th.likert-header Muy satisfecho
      tr
        td
          input(type="radio" name="satisfaction" value="1" required aria-label="Muy insatisfecho")
        td
          input(type="radio" name="satisfaction" value="2" required aria-label="Insatisfecho")
        td
          input(type="radio" name="satisfaction" value="3" required aria-label="Neutral")
        td
          input(type="radio" name="satisfaction" value="4" required aria-label="Satisfecho")
        td
          input(type="radio" name="satisfaction" value="5" required aria-label="Muy satisfecho")
    br

    h2 ¿Cuál es tu opinión sobre nuestro servicio?
    textarea(name="opinion" rows="5" cols="40" placeholder="Escribe tu opinión aquí" class="textarea-opinion")
    br

    input(type="submit" value="Enviar" class="submit-button")
